.head{
    padding-left: 10%;
}
#pp {
    text-decoration: underline;
    font-weight: bold;
    font-size:x-large
}
hr {
        width: 80% ;
        size: 20px ;
        box-align: center;

} 
.blue {
    font-size: 30px;
    color:blue
}
.orangeLink{
    color: orange;
}
.black-para{
    font-size: 25px;
}
#highlighted {
background-color: yellow;
}
.bold{
    font-weight: bold;
    font-size: 25px;
}
.redLink{
    color: red;
}
.none {
    list-style-type: none;
}