


.paragraph {
    height: 110px;
    width: 250px;
    background-color: rgb(150, 144, 144);
    float:left;
    border: 1px solid black;
    margin: 7px;

}
.bg {
    background-color: rgb(232, 223, 209);
    width: 850px;
    height: 500px;
    
    border-right: 2px solid black;
}
.parent{
    background-color: aliceblue;
}
#scroll {
    /* margin-top:px; */
    padding:0px;
    background-color: white;
    width: 830px;
    height: 60px;
    overflow-y:auto;
    text-align: justify;
    scroll-behavior: smooth;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-spacing: 40px;
    font-weight: bold
    
    ;font-stretch:narrower;
    
}
main {
margin: auto;
padding: auto;    
}
