main {
    /* background-color: rgb(213, 156, 83); */
}
.parent{
}

.upper-para {
    height: 100px;
    width: 250px;
    background-color: rgb(150, 144, 144);
    float: left;
    border: 1px solid black;
    margin: 7px;
    
}
.bg {
    background-color: blanchedalmond;
    width: 850px;
    height: 500px;
    display:block;
    position: absolute;
}